# Generated OS build artifacts
/artifacts/
/os/live-build/.build/
/os/live-build/cache/
/os/live-build/chroot/
/os/live-build/binary/
/os/live-build/local/
/os/live-build/tmp/
/os/live-build/config/binary
/os/live-build/config/bootstrap
/os/live-build/config/chroot
/os/live-build/config/common
/os/live-build/config/source
/os/live-build/*.iso
/os/live-build/*.contents
/os/live-build/*.files
/os/live-build/*.packages

# Common local noise
.DS_Store
Thumbs.db
*.log

# Lotus Shell build outputs
/shell/lotus-shell/node_modules/
/shell/lotus-shell/dist/
/shell/lotus-shell/src-tauri/target/
