[Desktop Entry]
Type=Application
Version=1.0
Name=Install LotusOS
GenericName=LotusOS Installer
Exec=calamares-install-debian
Comment=Install LotusOS to a disk
Keywords=calamares;system;install;lotusos;installer
Icon=system-software-install
Terminal=false
Categories=Qt;System;Settings;
StartupWMClass=calamares
StartupNotify=true
